extends layout
block content
    .w3-container
        h1 Lista de Tipologias
        table.w3-table-all
            tr
                th ID
                th Tipo
                th Compositor
            each o in obras
              tr
                  td
                    a(href="partituras/"+o.id)= o.id
                  td=o.tipe
                  td=o.compositor
    footer.w3-container.w3-blue
      address Tiago Baptista