doctype html
html
  head
    title SPARQL QUERY
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://unpkg.com/axios/dist/axios.min.js')
    script(src='/javascripts/jquery-3.4.1.min.js')
    script(src='/javascripts/actions.js')
  body
    block content
